/*-- General --*/

@font-face {
    font-family: Butler;
    src: url("./font/butler/Butler-Medium.woff2") format("woff2"),
           url("./font/butler/Butler-Medium.woff") format("woff");
}

@font-face {
    font-family: Canvas;
    src: url("/font/made_canvas/canvas.otf") format("otf");
}

:root{
    --mdc-text-primary: #3f3f3f;
    /*--mdc-color-secondary: #dba07c; #f3eee8*/
    --mdc-color-secondary: #39577f;
    /* --mdc-background-color: #f3eee8; */
    --mdc-background-color: #fcfcfc;
    --mdc-big-width: 950px;
    --mdc-font-family-primary: 'Butler';
    --mdc-font-family-secondary: 'Helvetica Neue';
    --mdc-font-weigth: 300;
    --mdc-home-logo-margin: 39vh;
    --mdc-home-logo-scale: 5;
    --mdc-home-logo-width: 232px;
    --mdc-home-link-distance: 33vw;
    --mdc-home-link-coeff: 9.4em;
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
    font-size: 15px;
    font-weight: var(--mdc-font-weigth);
    line-height: 1.81;
    background-color: var(--mdc-background-color, #fcfcfc);
    color: var(--mdc-text-primary);
}

a{
    color: var(--mdc-color-secondary);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

strong.not-bold{
    font-weight: var(--mdc-font-weigth);
}

strong.colored, i.colored{
    color: var(--mdc-color-secondary);
}

strong.bigger{
    font-size: 1.1em;
}

strong.stronger{
    font-weight: 400;
}

i.not-italic{
    font-style: normal;
}

html.is-leaving .mdc-transition-fade-out{
    opacity: 1;
    transition: 500ms;
}

html.is-leaving .mdc-transition-fade-out{
    opacity: 0;
}

/*-- Header --*/
#mdc-nav-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mdc-background-color);
}

#mdc-nav-container.is-scrolling{
    background-color: var(--mdc-background-color);
    box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);; 
}

#mdc-menu-logo{
    width: 100px;
    margin: 15px;
    transition: top 0.8s ease-out, left 0.8s ease-out, width 0.8s ease-out, transform 0.6s ease-out;;
    position: relative;
    top: 0;
    left: 0;
}

#mdc-nav-container.page #mdc-menu-logo:hover{
    cursor: pointer;
}

.mdc-nav-list-container{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    font-size: 1.2em;
    font-family: Butler;
}

.mdc-nav-list-container a.active, .mdc-nav-list-container a:focus{
    text-decoration: underline;
    color: var(--mdc-color-secondary);
}

nav a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--mdc-text-primary);
    margin: 0 30px;
    position: relative;
}

.page nav a{
    transform: translate(0, 0) scale(1);
}

nav a:hover{
    text-decoration: none;
    color: var(--mdc-color-secondary);
}

#mdc-menu-button{
    width: 35px;
    display: none;
    height: 26px;
}

#mdc-menu-button .mdc-menu-btn-line{
    display: block;
    width: 100%;
    border-radius: 9px;
    height: 2px;
    background: var(--mdc-color-secondary);
    transition: all .3s;
    position: relative;
}

.mdc-menu-btn-line + .mdc-menu-btn-line {
    margin-top: 10px;
}

#mdc-menu-button.active .mdc-menu-btn-line:nth-child(1) {
    animation: ease .5s btnLineRotateUp forwards;
}

#mdc-menu-button.not-active .mdc-menu-btn-line:nth-child(1) {
    animation: ease .5s btnLineRotateUpReverse forwards;
}

#mdc-menu-button.active .mdc-menu-btn-line:nth-child(2) {
    animation: ease .5s btnLineScaleIn forwards;
}

#mdc-menu-button.not-active .mdc-menu-btn-line:nth-child(2) {
    animation: ease .5s btnLineScaleOut forwards;
}

#mdc-menu-button.active .mdc-menu-btn-line:nth-child(3) {
    animation: ease .5s btnLineRotateDown forwards;
}

#mdc-menu-button.not-active .mdc-menu-btn-line:nth-child(3) {
    animation: ease .5s btnLineRotateDownReverse forwards;
}

#mdc-sidenav{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 18vh;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--mdc-background-color);
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#mdc-sidenav.displaying{
    opacity: 1;
    z-index: 500;
    display: flex;
}

#mdc-container{
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#mdc-container.sidenav-displaying{
    opacity: 0;
}

body.sidenav-displaying{
    overflow: hidden;
    height: 100%;
}

#mdc-sidenav a{
    margin-bottom: 17vh;
    font-size: 2em;
    font-family: var(--mdc-font-family-primary);
}

@media (max-width: 850px){
    #mdc-nav-container.page #mdc-menu-button{
        display: block;
        margin-right: 50px;
    }

    #mdc-menu-button:hover{
        cursor: pointer;
    }

    #mdc-nav-container.page .mdc-nav-list-container{
        display: none;
    }
}

@keyframes btnLineRotateUp {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: calc(50% - 1px);
      transform: rotate(0);
    }
    100% {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }
}
  
@keyframes btnLineRotateUpReverse {
    0% {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }
    50% {
      top: calc(50% - 1px);
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
}
@keyframes btnLineRotateDown {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: calc(50% - 1px);
      transform: rotate(0);
    }
    100% {
      bottom: calc(50% - 1px);
      transform: rotate(135deg);
    }
}
  
@keyframes btnLineRotateDownReverse {
    0% {
      bottom: calc(50% - 1px);
      transform: rotate(135deg);
    }
    50% {
      bottom: calc(50% - 1px);
      transform: rotate(0deg);
    }
    100% {
      bottom: 0;
      transform: rotate(0deg);
    }
}

@keyframes btnLineScaleIn {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
}

@keyframes btnLineScaleOut {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes LinkColored {
    0% {
        color: var(--mdc-text-primary);
    }
    100% {
        color: var(--mdc-color-secondary);
    }
}

/*-- Home --*/

#mdc-nav-container.home #mdc-menu-logo{
    transform: translate(calc(-15px + 50vw - 50%), var(--mdc-home-logo-margin)) scale(var(--mdc-home-logo-scale));
    animation: HomeLogoFadeIn 1s backwards;
}

#li-1.color{
    color: #39577f;
    transition: color ease-out 1s !important;
}

.mdc-nav-list-container #li-1, .mdc-nav-list-container #li-2, .mdc-nav-list-container #li-3{
    transition: transform 0.6s ease-out, color 0.6s ease-out, text-decoration 0.6s ease-out;
}

.home .mdc-nav-list-container #li-1{
    transform: translate(calc(323px + 30px - 50vw - var(--mdc-home-link-distance)), calc(var(--mdc-home-logo-margin) - 8em)) scale(1);
    animation: Link1FadeIn 1s backwards;
    animation-delay: .2s;
}

.home .mdc-nav-list-container #li-2{
    transform: translate(calc(154px + 30px - 50vw + 53%), calc(var(--mdc-home-logo-margin) - 8em)) scale(1);
    animation: Link2FadeIn 1s backwards;
    animation-delay: .4s;
}

.home .mdc-nav-list-container #li-3{
    transform: translate(calc(15px  + 30px - 50vw + 100% + var(--mdc-home-link-distance)), calc(var(--mdc-home-logo-margin) - 8em)) scale(1);
    transform-origin: 0% 50% !important;
    animation: Link3FadeIn 1s backwards;
    animation-delay: .6s;
}

.mdc-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--mdc-home-logo-margin) + var(--mdc-home-logo-width) - 5em);
}

#mdc-home-title{
    font-size: 2.2em;
    font-weight: var(--mdc-font-weigth);
    text-align: center;
    color: var(--mdc-color-secondary);
    animation: AppearIn 1.5s forwards;
}

#mdc-home-title .invisible{
    color: var(--mdc-background-color);
}

@media (max-width: 450px){
    :root{
        --mdc-home-logo-scale: 2;
        --mdc-link-distance: 7vh;
    }

        #mdc-nav-container.home #mdc-menu-logo{
        transform: none;
        position: relative;
        width: 40vw;
        top: 66vh;
        left: calc(-15px + 50vw - 20vw);
        transition: top 0.8s ease-out, left 0.8s ease-out, width 0.8s ease-out;
        animation: HomeLogoFadeInSmallScreen 1s backwards;
    } 

    #mdc-nav-container.home .mdc-nav-list-container a{
        font-size: 1.2em;
        transform: none;
        position: absolute;
    }

    #mdc-nav-container.home .mdc-nav-list-container a{
        width: 40vw;
        text-align: center;
    }

    #mdc-nav-container.home #li-1{
        left: calc(-30px + 50vw - 20vw);
        top: calc(var(--mdc-link-distance));
        animation: LinkFadeInSmallScreen 1s backwards;
        animation-delay: .4s;
    }

    #mdc-nav-container.home #li-2{
        left: calc(-30px + 50vw - 20vw);
        top: calc(var(--mdc-link-distance) + 25vh);
        animation: LinkFadeInSmallScreen 1s backwards;
        animation-delay: .2s;
    }

    #mdc-nav-container.home #li-3{
        left: calc(-30px + 50vw - 20vw);
        top: calc(var(--mdc-link-distance) + 50vh);
        animation: Link3FadeInSmallScreen 1s backwards;
    }

    #mdc-home-title {
        font-size: 1.7em;
    }

    .mdc-home{
        margin-top: 80vh;
    }
} 

@keyframes HomeLogoFadeIn {
    0%{
        opacity: 0;
        transform: translate(calc(50vw - 50px - 15px), var(--mdc-home-logo-margin)) scale(calc(var(--mdc-home-logo-scale) - 1));
    }

    100%{
        opacity: 1;
        transform: translate(calc(50vw - 50px - 15px), var(--mdc-home-logo-margin)) scale(var(--mdc-home-logo-scale));
    }
}

@keyframes HomeLogoFadeInSmallScreen {
    0%{
        opacity: 0;
        transform: scale(0.8);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Link1FadeIn {
    0%{
        opacity: 0;
        transform: translate(calc(323px + 30px + 15px - 50vw - var(--mdc-home-link-distance)), calc(var(--mdc-home-logo-margin) - 8em)) scale(.8, .8);
    }

    100%{
        opacity: 1;
        transform: translate(calc(323px + 30px - 50vw - var(--mdc-home-link-distance)), calc(var(--mdc-home-logo-margin) - 8em)) scale(1, 1);
    }
}

@keyframes Link2FadeIn {
    0%{
        opacity: 0;
        transform: translate(calc(154px + 30px - 50vw + 53%), calc(var(--mdc-home-logo-margin) - 8em)) scale(.8, .8);
    }

    100%{
        opacity: 1;
        transform: translate(calc(154px + 30px - 50vw + 53%), calc(var(--mdc-home-logo-margin) - 8em)) scale(1, 1);
    }
}

@keyframes Link3FadeIn {
    0%{
        opacity: 0;
        transform: translate(calc(15px  + 30px - 50vw + 100% + var(--mdc-home-link-distance)), calc(var(--mdc-home-logo-margin) - 8em)) scale(.8, .8);
    }

    100%{
        opacity: 1;
        transform: translate(calc(15px  + 30px - 50vw + 100% + var(--mdc-home-link-distance)), calc(var(--mdc-home-logo-margin) - 8em)) scale(1, 1);
    }
}

@keyframes LinkFadeInSmallScreen {
    0%{
        opacity: 0;
        transform: scale(.8, .8);
    }

    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes Link3FadeInSmallScreen {
    0%{
        opacity: 0;
        transform: scale(.8, .8) translateX(13px);
    }

    100%{
        opacity: 1;
        transform: scale(1, 1) translateX(0);
    }
}

/*-- Presentation --*/

.mdc-presentation-text-container{
    opacity: 0;
    animation: SlideIn 1s forwards;
}

.mdc-presentation-img{
    border: solid 1px;
    border-radius: 50%;
    border-color: var(--mdc-color-secondary);
    max-width: 325px;
    width: 75vw;
    opacity: 0;
    animation: AppearIn 1s forwards;
}

.mdc-presentation-text-container p{
    margin-bottom: 47px;
    font-size: 1.3em;
}

@media (min-width: 870px){
    .mdc-presentation-img{
        margin: 75px 0 0 calc(22.5% - 162.5px);
        position: fixed;
    }

    .mdc-presentation-text-container{
        margin: 140px 40px 0 45% ;
        max-width: 700px;
    }
}

@media (max-width: 869px){

    .mdc-presentation-container, .mdc-presentation-content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mdc-presentation-container{
        margin-top: 156px;
    }

    .mdc-presentation-text-container{
        margin: 7% 6.5%;
    }

    .mdc-presentation-text-container p{
        margin-bottom: 6%;
        font-size: 1.3em;
    }
}


@keyframes SlideIn{
    0%{
        transform: translateY(-5%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/**---  Expertises ---*/

.mdc-expertise-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}

.mdc-expertise-container h1{
    font-size: 1.75em;
    font-weight: 300;
    text-align: center;
    color: var(--mdc-text-primary);
    margin-bottom: 20px;
    opacity: 0;
    animation: TitleSlideIn 1.5s forwards;
}

.mdc-expertise-buttons{
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    width: 100%;
}

@media (min-width: 921px){
    .mdc-expertise-content-container{
        grid-column: 1 / span 5;
    }
}

@media (min-width: 651px) and (max-width: 920px){
    .mdc-expertise-buttons{
        grid-template-columns: repeat(6, auto);
    }

    #mdc-expertise-button-commercial{
        grid-column: 1 / span 2;
    }
    #mdc-expertise-button-family{
        grid-column: 3 / span 2;
    }
    #mdc-expertise-button-circulation{
        grid-column: 5 / span 2;
    }
    #mdc-expertise-button-real-estate{
        grid-column: 2 / span 2;
    }
    #mdc-expertise-button-mediation{
        grid-column: 4 / span 2;
    }

    .mdc-expertise-content-container{
        grid-column: 1 / span 6;
    }
}

@media (min-width: 451px) and (max-width: 650px){
    .mdc-expertise-buttons{
        grid-template-columns: repeat(2, auto);
    }

    #mdc-expertise-button-mediation{
        grid-column: 1 / span 2;
    }

    .mdc-expertise-content-container{
        grid-column: 1 / span 2;
    }
}

@media (max-width: 450px){
    .mdc-expertise-buttons{
        grid-template-columns: repeat(1, auto);
    }
}

.mdc-expertise-button{
    position: relative;
    justify-self: center;
    text-align: center;
    width: 170px;
    height: 170px;
    margin-bottom: 25px;
    border: none;
    font-family: var(--mdc-font-family-secondary);
    font-size: 1.9em;
    font-weight: 300;
    background-color: var(--mdc-background-color);
    opacity: 0;
    animation: AppearIn 1s forwards;
}

.mdc-expertise-button:hover, .mdc-expertise-button.active{
    border: 1px solid;
    border-radius: 50%;
    border-color: var(--mdc-color-secondary);
    cursor: pointer;
}

.mdc-expertise-button.active{
    border-width: 2px;
}

.mdc-expertise-button:focus{
    outline:0;
}

#mdc-expertise-button-commercial{
    animation-delay: 0s;
}
#mdc-expertise-button-family{
    animation-delay: .15s;
}
#mdc-expertise-button-circulation{
    /* animation-delay: .3s; */
    opacity: 1;
}
#mdc-expertise-button-real-estate{
    animation-delay: .45s;
}
#mdc-expertise-button-mediation{
    animation-delay: .6s;
}

#mdc-expertise-contents{
    width: 100%;
    max-width: 1058px;
}

.mdc-expertise-content-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.mdc-expertise-content{
    max-height: 0;
    overflow: hidden;
    max-width: 860px;
    width: 100%;
    margin: 0 22px;
    font-size: 1.3em;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.mdc-expertise-content.active{
    transition-delay: 0.2s;
}

@keyframes AppearIn {
    0%{
        opacity: 0;
        transform: scale(.8, .8);
    }

    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes TitleSlideIn{
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/**--- Contact ---**/

.mdc-contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 200px;
}

.mdc-contact-infos{
    margin-right: 40px;
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    animation: SlideInLeft 1s forwards;
    will-change: transform, opacity;
}

.mdc-contact-info{
    margin-bottom: 35px;
}

.mdc-contact-info-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.7em;
    font-family: 'Butler';
    text-decoration: underline;
    /*color: var(--mdc-color-secondary);*/
}

.mdc-contact-info-title img{
    max-width: 20px;
    margin-right: 8px;
}

.mdc-contact-info-content{
    font-size: 1.3em;
}

#map{
    height: 420px;
    width: 680px;
    margin: 0 40px;
    border: solid 1px var(--mdc-color-secondary);
    opacity: 0;
    animation: SlideInRigth 1s forwards;
}

@media (max-width: 850px){
    .mdc-contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mdc-contact-infos{
        align-items: center;
        margin: 0;
    }

    .mdc-contact-info-title{
        justify-content: center;
    }

    .mdc-contact-info-content{
        text-align: center;
    }

    #map{
        width: 75vw;
        margin-bottom: 20px;
    }
}

@keyframes SlideInLeft{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes SlideInRigth{
    0%{
        transform: translateX(50%);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/*--- Footer --*/

.mdc-footer-container{
    background-color: var(--mdc-color-secondary);
    width: 100%;
    height: 40px;
    color: var(--mdc-background-color);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.mdc-footer-container p{
    float: right;
    margin-right: 10px;
}