/*-- General --*/

@font-face {
    font-family: Butler;
    src: url("./font/butler/Butler-Medium.woff2") format("woff2"),
           url("./font/butler/Butler-Medium.woff") format("woff");
}

@font-face {
    font-family: Canvas;
    src: url("/font/made_canvas/canvas.otf") format("otf");
}

:root{
    --mdc-main-color: #2d2c2c;
    --mdc-background-color: #e6e7e8;
    --mdc-big-width: 950px;
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.81;
    background-color: var(--mdc-background-color, #d7d6f0);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: var(--mdc-main-color);
    cursor: pointer;
}

strong.not-bold{
    font-weight: normal;
}

/*-- Header --*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 90px;
    margin-left: 10px;
}

header.is-scrolling{
    background-color: var(--mdc-background-color);
    box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);; 
}

header.without-img{
    justify-content: flex-end;
}

.mdc-nav-list-container{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    margin-right: 30px;
    font-size: 1.2em;
    font-family: Butler;
}

.mdc-nav-list-container li{
    margin: 0 30px;
}

.mdc-nav-list-container li .active{
    text-decoration: underline;
}

nav a{
    text-decoration: none;
    font-size: 1.3em;
}

.is-scrolling nav a{
    color: var(--mdc-main-color);
}

nav a:hover{
    text-decoration: none;
    color: gray;
}


/*-- Home --*/

.mdc-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 215px;
}

.mdc-home h1 {
    font-size: 40px;
    font-weight: lighter;
}

.mdc-home img{
    max-width: 500px;
}

/*-- Presentation --*/

.mdc-presentation-container, .mdc-presentation-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mdc-presentation-container{
    margin-top: 156px;
}

@media (min-width: 992px){
    .mdc-presentation-content-container {
        max-width: 820px;
    }
}

.mdc-presantation-text-container p{
    margin-bottom: 47px;
    font-size: 1.3em;
    font-family: 'Butler';
}

.mdc-presentation-img{
    max-width: 325px;
    margin-bottom: 75px;
}



/**---  Expertises ---*/

.mdc-expertise-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 265px;
    padding-bottom: 50px;
}

.mdc-expertise-container h1{
    font-family: 'Butler';
    font-size: 1.3em;
    margin-bottom: 20px;
}

/*.mdc-expertise-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}*/

.mdc-expertise-buttons{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    margin-bottom: 25px;
}

.mdc-expertise-button{
    text-align: center;
    width: 170px;
    height: 170px;
    border: none;
    font-family: Butler;
    text-align: center;
    font-size: 1.9em;
    background-color: var(--mdc-background-color);
}

.mdc-expertise-button:hover, .mdc-expertise-button.active{
    border: 1px solid;
    border-radius: 50%;
}

.mdc-expertise-button:focus{
    outline:0;
}

#mdc-expertise-contents{
    width: 100%;
    max-width: 1058px;
}

.mdc-expertise-content-container{
    position: absolute;
    top: 190px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}

.mdc-expertise-content{
    max-height: 0;
    overflow: hidden;
    max-width: 1058px;
    width: 100%;
    margin: 0 22px;
    font-family: 'BUTLER';
    font-size: 1.2em;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.mdc-expertise-content.active{
    transition-delay: 0.2s;
}

/**--- Contact ---**/

#mdc-contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 200px;
}

.mdc-contact-infos{
    margin-right: 40px;
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Butler';
}

.mdc-contact-info{
    margin-bottom: 35px;
}

.mdc-contact-info-title{
    display: flex;
    align-items: center;
}
.mdc-contact-info-title h3{
    font-size: 1.7em;
    text-decoration: underline;
    color: var(--mdc-main-color);
}

.mdc-contact-info-title img{
    max-width: 20px;
    margin-right: 8px;
}

.mdc-contact-info-content{
    font-size: 1.3em;
}

#map{
    height: 420px;
    width: 680px;
    margin: 0 40px;
}

/*--- Footer --*/

.mdc-footer-container{
    background-color: gray;
    width: 100%;
}

.mdc-footer-container span{
    float: right;
    margin-right: 10px;
}