/*-- General --*/

@font-face {
    font-family: Butler;
    src: url("./font/butler/Butler-Medium.woff2") format("woff2"),
           url("./font/butler/Butler-Medium.woff") format("woff");
}

@font-face {
    font-family: Canvas;
    src: url("/font/made_canvas/canvas.otf") format("otf");
}

:root{
    --mdc-text-primary: #3f3f3f;
    /*--mdc-color-secondary: #dba07c;*/
    --mdc-color-secondary: #39577f;
    --mdc-background-color: #fcfcfc;
    --mdc-big-width: 950px;
    --mdc-font-family-primary: 'Butler';
    --mdc-font-family-secondary: 'Helvetica Neue';
    --mdc-font-weigth: 300;
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
    font-size: 15px;
    font-weight: var(--mdc-font-weigth);
    line-height: 1.81;
    background-color: var(--mdc-background-color, #fcfcfc);
    color: var(--mdc-text-primary);
}

a{
    color: var(--mdc-color-secondary);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

strong.not-bold{
    font-weight: var(--mdc-font-weigth);
}

strong.colored, i.colored{
    color: var(--mdc-color-secondary);
}

strong.bigger{
    font-size: 1.1em;
}

strong.stronger{
    font-weight: 400;
}

i.not-italic{
    font-style: normal;
}

/*-- Header --*/

header.page{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#mdc-nav-container img{
    width: 100px;
    margin-left: 10px;
}

header.is-scrolling{
    background-color: var(--mdc-background-color);
    box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1);; 
}

header.without-img{
    justify-content: flex-end;
}

.mdc-nav-list-container{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    margin-right: 30px;
    font-size: 1.2em;
    font-family: Butler;
}

.mdc-nav-list-container li{
    margin: 0 30px;
}

.mdc-nav-list-container a.active{
    text-decoration: underline;
    color: var(--mdc-color-secondary);
}

nav a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--mdc-text-primary);
}

nav a:hover{
    text-decoration: none;
    color: var(--mdc-color-secondary);
}


/*-- Home --*/

#mdc-nav-container.home{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    align-items: center;
}

#mdc-nav-container.home img{
    width: 500px;
    margin: 90px 0 0 0;
    opacity: 0;
    animation: AppearIn 1.5s forwards;
}

.home nav{
    width: 100%;
}

.home .mdc-nav-list-container{
    height: 180px;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    font-size: 1.4em;
}

.home .mdc-nav-list-container li{
    margin: 0;
    opacity: 0;
    animation: AppearIn 1s forwards;
}

.home .mdc-nav-list-container li.li-1{
    animation-delay: .3s;
}

.home .mdc-nav-list-container li.li-2{
    animation-delay: .6s;
}

.home .mdc-nav-list-container li.li-3{
    animation-delay: .9s;
}

#mdc-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mdc-home-title{
    margin-top: -10px;
    font-size: 2.2em;
    font-weight: var(--mdc-font-weigth);
    text-align: center;
    color: var(--mdc-color-secondary);
    animation: AppearIn 1.5s forwards;
}

#mdc-home-title .invisible{
    color: var(--mdc-background-color);
}

/*-- Presentation --*/

.mdc-presentation-text-container{
    opacity: 0;
    animation: SlideIn 1s forwards;
}

@media (min-width: 821px){
    .mdc-presentation-img{
        max-width: 325px;
        margin: 75px 0 0 10%;
        position: fixed;
    }

    .mdc-presentation-text-container{
        margin: 140px 40px 0 45% ;
        max-width: 700px;
    }
}

@media (max-width: 820px){
    .mdc-presentation-container, .mdc-presentation-content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mdc-presentation-container{
        margin-top: 156px;
    }
}

.mdc-presentation-img{
    border: solid 1px;
    border-radius: 50%;
    border-color: var(--mdc-color-secondary);
    opacity: 0;
    animation: AppearIn 1s forwards;
}

.mdc-presentation-text-container p{
    margin-bottom: 47px;
    font-size: 1.3em;
}

@keyframes SlideIn{
    0%{
        transform: translateY(-5%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }

}

/**---  Expertises ---*/

.mdc-expertise-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 225px;
}

.mdc-expertise-container h1{
    font-size: 1.9em;
    font-weight: 300;
    text-align: center;
    color: var(--mdc-text-primary);
    margin-bottom: 20px;
}

.mdc-expertise-buttons{
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    width: 100%;
}

@media (min-width: 921px){
    .mdc-expertise-content-container{
        grid-column: 1 / span 5;
    }
}

@media (min-width: 651px) and (max-width: 920px){
    .mdc-expertise-buttons{
        grid-template-columns: repeat(6, auto);
    }

    #mdc-expertise-button-commercial{
        grid-column: 1 / span 2;
    }
    #mdc-expertise-button-family{
        grid-column: 3 / span 2;
    }
    #mdc-expertise-button-circulation{
        grid-column: 5 / span 2;
    }
    #mdc-expertise-button-real-estate{
        grid-column: 2 / span 2;
    }
    #mdc-expertise-button-mediation{
        grid-column: 4 / span 2;
    }

    .mdc-expertise-content-container{
        grid-column: 1 / span 6;
    }
}

@media (min-width: 451px) and (max-width: 650px){
    .mdc-expertise-buttons{
        grid-template-columns: repeat(2, auto);
    }

    #mdc-expertise-button-mediation{
        grid-column: 1 / span 2;
    }

    .mdc-expertise-content-container{
        grid-column: 1 / span 2;
    }
}

@media (max-width: 450px){
    .mdc-expertise-buttons{
        grid-template-columns: repeat(1, auto);
    }
}

.mdc-expertise-button{
    position: relative;
    justify-self: center;
    text-align: center;
    width: 170px;
    height: 170px;
    margin-bottom: 25px;
    border: none;
    font-family: var(--mdc-font-family-secondary);
    font-size: 1.9em;
    font-weight: 300;
    background-color: var(--mdc-background-color);
    opacity: 0;
    animation: AppearIn 1s forwards;
}

.mdc-expertise-button:hover, .mdc-expertise-button.active{
    border: 1px solid;
    border-radius: 50%;
    border-color: var(--mdc-color-secondary);
    cursor: pointer;
}

.mdc-expertise-button.active{
    border-width: 2px;
}

.mdc-expertise-button:focus{
    outline:0;
}

#mdc-expertise-button-commercial{
    animation-delay: 0s;
}
#mdc-expertise-button-family{
    animation-delay: .3s;
}
#mdc-expertise-button-circulation{
    animation-delay: .6s;
}
#mdc-expertise-button-real-estate{
    animation-delay: .9s;
}
#mdc-expertise-button-mediation{
    animation-delay: 1.2s;
}

#mdc-expertise-contents{
    width: 100%;
    max-width: 1058px;
}

.mdc-expertise-content-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.mdc-expertise-content{
    max-height: 0;
    overflow: hidden;
    max-width: 860px;
    width: 100%;
    margin: 0 22px;
    font-size: 1.3em;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.mdc-expertise-content.active{
    transition-delay: 0.2s;
}

@keyframes AppearIn {
    0%{
        opacity: 0;
        transform: scale(.8, .8);
    }

    100%{
        opacity: 1;
        transform: scale(1, 1);
    }
}

/**--- Contact ---**/

#mdc-contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 200px;
}

.mdc-contact-infos{
    margin-right: 40px;
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mdc-contact-info{
    margin-bottom: 35px;
}

.mdc-contact-info-title{
    display: flex;
    align-items: center;
    font-size: 1.7em;
    font-family: 'Butler';
    text-decoration: underline;
    /*color: var(--mdc-color-secondary);*/
}

.mdc-contact-info-title img{
    max-width: 20px;
    margin-right: 8px;
}

.mdc-contact-info-content{
    font-size: 1.3em;
}

#map{
    height: 420px;
    width: 680px;
    margin: 0 40px;
    border: solid 1px var(--mdc-color-secondary);
}

/*--- Footer --*/

.mdc-footer-container{
    background-color: var(--mdc-color-secondary);
    width: 100%;
    height: 40px;
    color: var(--mdc-background-color);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.mdc-footer-container p{
    float: right;
    margin-right: 10px;
}